In [6]:
SELECT TIPUS, CSILLAGOK_SZAMA, HELY, ROUND(AVG(CSILLAGOK_SZAMA), 2) AS 'Átlag_csillag'
FROM Szallashely
WHERE SZALLAS_NEV NOT LIKE '%-%'
GROUP BY TIPUS, HELY

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'szallashely'.

In [8]:
SELECT sz.SZOBA_ID, f.FOGLALAS_FK, DATEDIFF(DAY, f.METTOL, f.MEDDIG), DATEDIFF(DAY(), f.METTOL, f.MEDDIG) LAG(*, 1, 0 )
FROM Szoba sz JOIN Foglalas f ON sz.SZOBA_ID = f.SZOBA_FK

: Msg 174, Level 15, State 1, Line 1
The day function requires 1 argument(s).

In [ ]:
SELECT f.*, v.NEV AS 'Ügyfél_neve'
FROM Foglalas f JOIN Vendeg v ON f.UGYFEL_FK = v.USERNEV
WHERE FELNOTT_SZAM+GYERMEK_SZAM <(
    SELECT AVG(FELNOTT_SZAM+GYERMEK_SZAM)
    FROM Foglalas
)